@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

header {
  display: flex;
  flex-direction: row-reverse;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

img {
  width: 150px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  #app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

}
