@import './base.css';

#app {
  background-color: #FFFFFF;
  margin: 0;
  height: 100vh; /* Define a altura como 100% da altura da janela do navegador */
  color: black;
  overflow-x: hidden; /* Evita a rolagem horizontal */
}

.v-btn {
  margin: 3px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.logo img {
  width: 160px;
}

a {
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
